.notify__dropdown{
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    min-width: 250px;
}
.notify__header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.notify__body{
    border-top: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}
.notify__body .ant-dropdown-menu{
    box-shadow: none;
}
.ant-dropdown-menu-item{
    border-bottom: 1px solid #ddd;
}
.notify__item{
    display: flex;

    
}
.notify__item-icon{
    width: 40px;
    height: 40px;
    background: #ffe5b5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.notify__item-icon span{
    font-size: 24px;
    color: orange;
}
.notify__item-content{
    flex: 1;
}
.notify__item-title{
    font-weight: 600;
    font-size: 14px;
}
.notify__item-time{
    font-size: 12px;
}